<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style-displayFlight-page.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <title>Display Flights</title>
  </head>
  <body class="bk-image">
    <div class="container">
        <div class="card mt-5">
            <div class="card-body">
              <ul class="nav nav-tabs" id="nav-tap" role="tablist">
                <li class="nav-item">
                  <a class="nav-link" id="list-v-tab" data-toggle="tab" href="#list-view" role="tab" aria-controls="home" aria-selected="true">List View</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" id="mat-v-tab" data-toggle="tab" href="#matrix-view" role="tab" aria-controls="profile" aria-selected="false">Matrix View</a>
                </li>
              </ul>
              <div class="tab-content" id="tap-con">
                <div class="tab-pane fade" id="list-view" role="tabpanel" aria-labelledby="list-v-tab">
                  <p id="show_num_lv">3 of 3 shown - one way</p>
                </div>
                <div class="tab-pane fade  show active" id="matrix-view" role="tabpanel" aria-labelledby="mat-v-tab">
                    <p id="show_num_mv"><span class="badge badge-pill badge-success">3</span> of 3 flights shown-one way</p>
                    <table class="table table-striped table-bordered" style="width:100%" id="matrix-table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Price</th>
                            <th scope="col">Ariline</th>
                            <th scope="col">Take-off</th>
                            <th scope="col">Landing</th>
                            <th scope="col">Stop(Duration)</th>
                          </tr>
                        </thead>
                        <tbody>              
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Custom JavaScript -->
    <script>
      var flight_data =  <%- JSON.stringify(data) %>;

      function getData(){
            let m_table = $('#matrix-table').DataTable();
            var i = 0;
            flight_data.forEach(item => {
              m_table.row.add([
                i+1,
                '<div class="price">' + item.price.amount + '</div>',
                item.detail.outbound.operated,
                item.detail.outbound.depart.abb,
                item.detail.outbound.arrival.abb,
                item.detail.outbound.stop + '(' + item.detail.outbound.duration.hour + 'h' + item.detail.outbound.duration.minute + 'm)' + `
                    <a href="#" class="details-control">details</a>
                    <a href="#">                    
                        <i class="far fa-envelope"></i>                                             
                    </a>
                    <a href="#">                    
                        <i class="fas fa-print"></i>                                        
                    </a> 
                `
              ]).draw();
              i++;
            }); 
            setPageNum();
      }

      function setPageNum(){
          let m_table = $('#matrix-table').DataTable();
          let page = m_table.page.info();                                                                                                                                                                                                 
          $('#show_num_mv').html('<span class="badge badge-pill badge-success">' + (page.page + 1) + '</span> of ' + page.pages + ' flights shown-one way');
      }
      
      //code Factory Designpattern
      function showFlightCreator(index){
        if(flight_data[index].reservation == "oneway"){
          return onewayFormat(index);
        }else{
          return roundTripFormat(index);
        }
      }

      function onewayFormat (index) {
          var data = flight_data[index];
          var outbound = data.detail.outbound;
          var fullDate = outbound.date.dayName + ', ' + outbound.date.month + ' ' + outbound.date.day + ', ' + outbound.date.year 
          return `
          <table class="table">
              <tr>
                  <td>
                      <b>OUTBOUND</b>
                      </br>
                      <b>${fullDate}</b>
                  </td>
              </tr>
              <tr>
                  <td>
                      <b>${outbound.depart.time}</b> ${outbound.depart.airport} 
                      </br>
                      <b>${outbound.arrival.time}</b> ${outbound.arrival.airport} 
                  </td>
              </tr>
              <tr>
                  <td>
                    Flight# <b>${outbound.f_code}</b> | aircraft type: <b>${outbound.aircraft_type}</b> | operated by : <b>${outbound.operated}</b>
                  </td>
              </tr>
              <tr>
                  <td>
                    <a class="btn btn-primary tn-sm btn-block" href="payment?flight_id=${index}">Select</a>
                  </td>
              </tr>
          </table>
          `;
      }

      function roundTripFormat (index) {
          //code for roundTrip format
      }

      $(document).ready(function(){
        $('#matrix-table').DataTable(
          {
            "pageLength": 3,
            searching: false,
            ordering:  false,
            responsive: true,
            "info": false,
            "lengthChange": false,
          }
        );

        getData();

        $('#matrix-table').on( 'page.dt', function () {
            let m_table = $('#matrix-table').DataTable();
            let page = m_table.page.info();                                                                                                                                                                                                                               
            $('#show_num_mv').html('<span class="badge badge-pill badge-success">' + (page.page + 1) + '</span> of ' + page.pages + ' flights shown-one way');
        } );

        $(document).on('click','.details-control', function(){
          var tr = $(this).closest('tr');
          let m_table = $('#matrix-table').DataTable();
          var row = m_table.row( tr );

          if(row.child.isShown()){
              row.child.hide();
              tr.removeClass('shown');
          } else {
              var index = row.data()[0];
              row.child(showFlightCreator(index-1)).show();
              tr.addClass('shown');
          }
        });
        
      });
    </script>
  </body>
</html>