<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" href="assets/css/style-displayFlight-page.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
      <title>Payment</title>
   </head>
   <body class="bk-image">
      <div class="container">
      <div class="card mt-5">
         <div class="card-header">
            <h5>Payment</h5>
         </div>
         <div class="card-body">
            <div class="row">
               <div class="col-8">
                  <div class="row" id="input_panel">
                     <div class="col">
                        <div class="form-row">
                           <div class="form-group col-md-2">
                              <label for="title">Title*</label>
                              <select id="title" class="form-control">
                                 <option value="MR" selected>MR</option>
                              </select>
                           </div>
                           <div class="form-group col-md-3">
                              <label for="fname">Firstname*</label>
                              <input type="text" class="form-control" id="fname" placeholder="firstname">
                           </div>
                           <div class="form-group col-md-4">
                              <label for="lname">Lastname*</label>
                              <input type="text" class="form-control" id="lname" placeholder="lastname">
                           </div>
                           <div class="form-group col-md-3">
                              <label for="b_date">Birthdate*</label>
                              <input type="date" class="form-control" id="b_date">
                           </div>
                        </div>
                        <div class="form-row">
                           <div class="form-group col-md-4">
                              <label for="pass_no">Passport No.**</label>
                              <input type="text" class="form-control" id="pass_no" placeholder="passport No.">
                           </div>
                           <div class="form-group col-md-4">
                              <label for="country">Country*</label>
                              <select id="country" class="form-control">
                                 <option selected>Thailand</option>
                              </select>
                           </div>
                           <div class="form-group col-md-4">
                              <label for="passport_exp_date">Passport EXP date*</label>
                              <input type="date" class="form-control" id="passport_exp_date">
                           </div>
                        </div>
                        <button class="btn btn-primary btn-block" id="next_btn">Next</button>
                     </div>
                  </div>
               </div>
               <div class="col-4">
                  <ul class="list-group">
                     <li class="list-group-item active">Payment information</li>
                     <li class="list-group-item">
                        <div class="d-flex">
                           <span>Flight:</span>
                           <span class="ml-auto" id="flight_price"></span>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="d-flex">
                           <span>Tax:</span>
                           <span class="ml-auto" id="tax_price"></span>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="d-flex">
                           <span>Services Free: </span>
                           <span class="ml-auto" id="fee_price"></span>
                        </div>
                        <div id="fee_list">
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="d-flex">
                           <span>Discount:</span>
                           <span class="ml-auto" id="discount_price"></span>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="d-flex">
                           <span>
                              <h3>Total:</h3>
                           </span>
                           <span class="ml-auto">
                              <h3 id="total_price"></h3>
                           </span>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <!-- Custom JavaScript -->
      <script>
          var data = <%- JSON.stringify(data) %>;
          var price_detail = data.price_detail;
          const input_panel = $('#input_panel');
          const next_btn = $('#next_btn');
          const flight_price = $('#flight_price');
          const tax_price = $('#tax_price');
          const fee_price = $('#fee_price');
          const fee_list = $('#fee_list');
          const discount_price = $('#discount_price');
          const total_price = $('#total_price');

          var data_user = null;
          
          function setPaymentInfo(){
            flight_price.text(price_detail.flight_price + " B");
            tax_price.text(price_detail.tax_price + " B");
            fee_price.text((price_detail.fee_price.bag + price_detail.fee_price.travel) + ' B');
            if(price_detail.fee_price.bag != 0 && price_detail.fee_price.travel != 0){
              fee_list.html(`
                    - Baggage Insurance  ${price_detail.fee_price.bag}</br>
                    - Travel Insurance  ${price_detail.fee_price.travel} B
              `);
            }else{
              if(price_detail.fee_price.bag === 0 && price_detail.fee_price.travel === 0){   
                fee_list.text('');
              }else{
                if(price_detail.fee_price.bag != 0){
                  fee_list.html(`
                      - Baggage Insurance  ${price_detail.fee_price.bag} B
                `);
                }
                if(price_detail.fee_price.travel != 0){
                  fee_list.html(`
                      - Travel Insurance  ${price_detail.fee_price.travel} B
                `);
                }
              }
            }
            discount_price.text(price_detail.discount_price + ' B');
            total_price.text(price_detail.total_price + ' B');
          }

          function initPaymentInfo(){
            setPaymentInfo();
          }

          function checkBoxOnChange(){
              const bag_box = $('#insurance_bag_box')[0];
              const life_box = $('#insurance_life_box')[0];
              calculatePrice(bag_box.checked,life_box.checked);
          }

          function calculatePrice(bag_box_isChecked, life_box_isChecked){
              var payload = {
                f_index: data.index,
                fee_detail: {
                  bag_box_isChecked: bag_box_isChecked,
                  life_box_isChecked: life_box_isChecked
                }
              };
              $.post("calculate_price", payload).done(function(data) {
                // console.log(data);
                price_detail = data;
                setPaymentInfo();
              });
          }

          function confirm_payment(){
              var payload = {
                user_data : data_user,
                f_index: data.index,
                price_detail : price_detail
              };
              $.post("confirm_payment", payload).done(function(data) {
                alert(data);
              });
          }

          function changePageInput(){
            input_panel.html(`
                 <div class="col">
                    <ul class="list-group">
                     <li class="list-group-item active">ประกันภายการเดินทาง</li>
                     <li class="list-group-item">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="insurance_bag_box" onchange="checkBoxOnChange()">
                          <label class="form-check-label" for="insurance_bag_box">
                              ประกันกระเป๋าเดินทางหาย หรือ ล่าช้า ราคา 350 บาท
                          </label>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="insurance_life_box" onchange="checkBoxOnChange()">
                          <label class="form-check-label" for="insurance_life_box">
                              ประกันกระอุบัติเหตุและสุขภาพ ระหว่างเดินทาง ราคา 1300 บาท
                          </label>
                        </div>
                     </li>   
                  </ul>
                  </br>
                  <button class="btn btn-primary btn-block" onclick="confirm_payment()">Next</button>
                 </div>
            `);
          }

          $(document).ready(function(){
            initPaymentInfo();

            next_btn.click(function(){
              const title_name = $('#title');
              const fname = $('#fname');
              const lname = $('#lname');
              const b_date = $('#b_date');
              const pass_no = $('#pass_no');
              const passport_exp_date = $('#passport_exp_date');
              if(title_name.val() != '' && fname.val() != '' && lname.val() != '' && b_date.val() != '' && pass_no.val() != '' && passport_exp_date.val() != ''){
                  var data_from = {
                    title: title_name.val(),
                    fname: fname.val(),
                    lanem: lname.val() ,
                    b_date: b_date.val(),
                    pass_no: pass_no.val(),
                    pass_exp: passport_exp_date.val() 
                  };
                  data_user = data_from;
                  changePageInput();
              }
            });
          });
      </script>
   </body>
</html>