<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style-for-searchFlights.css">
    <title>Search Flights</title>
  </head>
  <body class="bk-image">
    <div class="container">
        <div class="card mt-5">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9">
                        <h1 class="head-text mb-5">FLIGHT</h1>
                    </div>
                    <div class="col-md-3 pl-5 pt-5 ">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="fmode" id="oneway-radio" value="oneway" >
                            <label class="form-check-label" for="oneway-radio">
                              One Way
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="fmode" id="round-radio" value="round" checked>
                            <label class="form-check-label" for="round-radio">
                              Round Trip
                            </label>
                          </div>
                    </div>
                  </div>
                <form action="#" method="POST">
                    <div class="row">
                      <div class="col-md-6">
                        <label for="fly_from">Flying from</label>
                        <input type="text" class="form-control" id="fly_from" placeholder="From City" >
                      </div>
                      <div class="col-md-6">
                        <label for="fly_to">Flying to</label>
                        <input type="text" class="form-control" id="fly_to" placeholder="To City" >   
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                          <label for="depart-air">Departing Airport</label>
                          <select class="form-control" id="depart-air">
                              <option>Don mueang international Airport</option>
                              <option>Suwannaphum international Airport</option>
                          </select>
                        </div>
                        <div class="col-md-6">
                          <label for="return-air">Returning Airport</label>
                          <select class="form-control" id="return-air">
                              <option>Don mueang international Airport</option>
                              <option>Suwannaphum international Airport</option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                            <label for="amount">Adults</label>
                            <select class="form-control" id="amount">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                          </div>
                          <div class="col-md-6">
                            <label for="class">Travel Class</label>
                            <select class="form-control" id="class">
                                <option>BUSINESS CLASS</option>
                                <option>FIRST CLASS</option>
                                <option>ECONOMY CLASS</option>         
                            </select>
                          </div>
                        </div>
                    <hr class="mb-4">
                    <!-- <button class="btn btn-primary btn-lg btn-block" id="search_btn" type="submit">Search</button> -->
                  </form>
                  <button class="btn btn-primary btn-lg btn-block" id="search_btn">Search</button>
            </div>
          </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Custom JavaScript -->
    <script>
      $(document).ready(function(){
        $( "#search_btn" ).click(function() {
          window.location.href = "/display";
        });
      });
    </script>
  </body>
</html>