﻿body, html {
  height: 100%;
}

.bk-image {
  background-image: url("../images/bk-airport.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-repeat:no-repeat;
}

.head-text {
  font-size: 45px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

label {
  font-size: 20px;
  font-family: Garamond;
} 

.card { 
  background-color: rgba(245, 245, 245, 0.9); 
}

#search_btn {
  font-family: sans-serif;
}